{% extends "base/base.html" %}
{% load static %}


{% block content %}
<div class="row" style="margin: 15px 0px 0px 30px;">
    <div class="col-md-4">
        <div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'invoice:pdf' invoice %}" target="_blank" class="btn btn-primary">Preview PDF</a>
        </div>
    </div>
    <div class="col-md-8">
        <h1>Add Items to Invoice</h1>
    </div>
    
</div>


<div class="row" style="min-height: 600px;">
    <div class="col-md-5 card card-body">
        <table class="table" id="item-table">
            <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>
    

    <div class="col-md-7 ">
        <div>
        
            <div class="card card-body" style="margin-bottom: 15px;">
                <form method="get">
                    {{myFilter.form.as_table}}
                    <button class="btn btn-primary">Search</button>
                    <a class="btn btn-warning" href="{% url 'invoice:addItems' invoice%}">Reset</a>
                </form>
            </div>

            <div class="card card-body" style="min-height: 500px;">
                <form method="post" id="invoiceForm">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Product Type</th>
                            <th>Quantity</th>
                            <th>Add Item</th>
                        </tr>
                        {% for i in products %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.description }}</td>
                                <td>{{ i.price }}</td>
                                <td>{{ i.product_type }}</td>
                                <td>
                                    <input type="number" class="quantity-input" name="quantity"required min="1">
                                    <input type="hidden" name="product" value="{{ i.pk }}">
                                    <input type="hidden" name="invoice" value="{{ invoice_pk }}">
                                </td>
                                <td>
                                    <button type="button" class="submit-button">Add Item</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
        <div class="pagination text-center" >
            <span class="step-links">
                {% if products.has_next %}
                    <a href="?page={{ products.paginator.num_pages }}">last</a>
                    <a href="?page={{ products.next_page_number }}">next</a>
                {% endif %}
            
                <span class="current-page">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </span>
            
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">previous</a>
                    <a href="?page=1">first</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
<script>
let invoice_pk = '{{ invoice }}';
let site_url = '{{ site_url }}';
let apiUrl = "{% url 'invoice:itemInvoiceAPI' invoice_pk %}";
let crsfToken = '{% csrf_token %}';
</script>

<script src="{% static 'js/addItems.js' %}"></script>

{% endblock content %}