{% extends "base/base.html" %}
{% load static %}


{% block content %}

<h1>Add Items to Invoice</h1>

<div class="row">
    <div class="col-md-5">
        <table id="item-table">
            <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>
    

    <div class="col-md-7">
        <div style="height: 400px;">
        
            <div>
                <form method="get">
                    {{myFilter.form.as_table}}
                    <button class="btn btn-primary">Search</button>
                    <a class="btn btn-warning" href="#">Reset</a>
                </form>
            </div>

            <div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Product Type</th>
                        <th>Quantity</th>
                        <th>Add Item</th>
                    </tr>
                    {% for i in products %}
                        <form method="post" id="task-form" data-url="{% url 'invoice:itemInvoiceAPI' invoice_pk %}">
                            {% csrf_token %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.description }}</td>
                                <td>{{ i.price }}</td>
                                <td>{{ i.product_type }}</td>
                                <td>
                                    <!-- Hidden input to capture product data -->
                                    <input type="hidden" name="product" value="{{ i.pk }}">
                                    <input type="hidden" name="invoice" value="{{ invoice_pk }}">
                                    

                                    <!-- Input for quantity -->
                                    <input type="number" name="quantity" placeholder="quantity" min="1"/>
                                </td>
                                <td><button type="submit">Add Item 1</button></td>
                            </tr>
                        </form>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="pagination text-center">
            <span class="step-links">
                {% if products.has_next %}
                    <a href="?page={{ products.paginator.num_pages }}">last</a>
                    <a href="?page={{ products.next_page_number }}">next</a>
                {% endif %}
            
                <span class="current-page">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </span>
            
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">previous</a>
                    <a href="?page=1">first</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

<div class="row">
    <form id="invoiceForm">
        <label for="product">Product:</label>
        <select id="product" name="product" required>
            <option value="">Select a product</option>
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select><br><br>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required min="1"><br><br>

        <button type="submit">Add Item</button>
    </form>
    <div class="col-md-5">
        <div class="d-grid gap-2 col-6 mx-auto">
    <a href="#" target="_blank" class="btn btn-primary">Preview PDF</a>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
<script>
let invoice_pk = '{{ invoice }}';
let site_url = '{{ site_url }}';
let apiUrl = "{% url 'invoice:itemInvoiceAPI' invoice_pk %}";
let crsfToken = '{% csrf_token %}';
</script>

<script src="{% static 'js/addItems.js' %}"></script>

{% endblock content %}