{% extends "base/base.html" %}

{% block content %}

<h1>Add Products and Clients</h1>

<div class="row">
    <div class="col-md-4 card card-body">
        <a href="{% url 'invoice:createProductType' %}" target="_blank" class="btn btn-primary">Add Product Type</a>
    </div>
    <div class="col-md-4 card card-body">
        <a href="{% url 'invoice:createProduct' %}" target="_blank" class="btn btn-primary">Add Product</a>
    </div>
    <div class="col-md-4 card card-body">
        <a href="{% url 'invoice:createClient' %}" target="_blank" class="btn btn-primary">Add Client</a>
    </div>
    <div class="col-md-4 card card-body">
        <a href="{% url 'invoice:createClientContact' %}" target="_blank" class="btn btn-primary">Add Client Contact</a>
    </div>
</div>






{% endblock content %}