{% extends "base/base.html" %}
{% load static %}

{% block content %}
<style>
    label {
    display: flex;
    align-items: center; /* Optional - align content vertically */
}



</style>


<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="error-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-button">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    <form method="post" id="workOrderViewForm">
        {% csrf_token %}
        <div class="row" style="margin-top: 15px;">
            <div class="col card">
                <label>
                    <div id="is_rush_d" class="col">Rush</div>
                    <div class="col">{{workOrderForm.is_rush}}</div>
                </label>
            </div>
            <div class="col-2 card">
                <lable>
                    <div id="quote_required_d">Quote Required</div>
                    {{workOrderForm.quote_required}}
                </lable>                   
            </div>
            <div class="col-md-6 card" >
                    <div id="specialInstructions_d">Instructions - {{workOrder.specialInstructions}}</div>
                    <input type="text" id="specialInstructions" name="specialInstructions">
            </div>
            <div class="col card">
                <div id="return_by_d">Return By</div>
                {{workOrderForm.return_by}}
            </div>
        </div>
    </form>

    

    <div class="row" style="margin: 15px 0px 0px 15px; padding-bottom: 10px;">
        <div class="col-6">
            <div class="row">
                <div class="col-5">
                    <a href="{% url 'invoice:pdfTracker' workOrder_id %}" target="_blank" class="btn btn-primary">Preview Blue Card PDF</a>                 
                </div>
                <div class="col-6">
                    <a href="{% url 'invoice:pdfCustomerTracking' workOrder_id %}" target="_blank" class="btn btn-primary">Preview Take Back Sheet PDF</a>
                </div>
            </div>
        </div>    
        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    <a href="{% url 'invoice:customWorkOrderItem' workOrder_id %}">
                        <button class="btn btn-warning">Add Instrument Not Listed</button>
                    </a>
                </div>
                <div class="col-4">
                    <a href="{% url 'invoice:signature_page' workOrder_id %}" target="_blank" class="btn btn-primary">Sign Take Back Sheet</a>          
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="min-height: 600px;" id="test">
        <div class="col-md-4 card card-body" id="table-container-item">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Instrument Name</th>
                        <th>Quantity</th>
                        <!--<th>Edit</th>-->
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody >
                    {% for i in workOrderItems %}
                    <tr>
                        <td>{{ i.number }}</td>
                        {% if i.product.name == "Other" %}
                            <td>{{ i.custom_product_name }}</td>
                        {% else %}
                            <td>{{ i.product.name }}</td>
                        {% endif %}
                        <td>{{ i.quantity }}</td>
                        <!--<td>
                            <a href="{% url 'invoice:editWorkOrderItem' workOrder_id i.id %}">edit</a>
                        </td>-->
                        <td>
                            <a href="#" class="delete-link" data-itemid="{{ i.id }}" onclick="return confirm('Are you sure you want to delete?')">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-8 ">            
            <div>            
                <div class="card card-body" style="margin-bottom: 15px;">
                    <form method="get">
                        {{myFilter.form.as_table}}
                        <button class="btn btn-primary">Search</button>
                        <a class="btn btn-warning" href="{% url 'invoice:addItemsWorkOrder' workOrder_id %}">Reset</a>
                    </form>
                </div>
                <div class="pagination text-center" >
                    <span class="step-links">
                        {% if products.has_next %}
                            <a href="?page={{ products.paginator.num_pages }}">last</a>
                            <a href="?page={{ products.next_page_number }}">next</a>
                        {% endif %}
                    
                        <span class="current-page">
                            Page {{ products.number }} of {{ products.paginator.num_pages }}.
                        </span>
                    
                        {% if products.has_previous %}
                            <a href="?page={{ products.previous_page_number }}">previous</a>
                            <a href="?page=1">first</a>
                        {% endif %}
                    </span>
                </div>
                <div class="card-body" >
                    <div class="card" style="min-height: 500px;" id="table-container-add-item">
                        {% csrf_token %}
                        <table class="table" id="test2">
                            <tr>
                                <th>Instrument Type</th>
                                <th>Quantity</th>
                                <th>Manufacter #</th>
                                <th>Description</th>
                                <th>Issue W/ Instrument</th>
                                <th>Add Instrument</th>
                            </tr>
                            {% for i in products %}
                                <tr>
                                    <td>{{ i.product_type }}</td>
                                    <td>
                                        <input class="quantity" style="width: 50px;" type="number" name="quantity" value="" min="1">
                                        <div class="tooltip">Please enter a valid number</div>
                                    </td>
                                    
                                    <td>
                                        <input class="mfgnum" style="width: 100px;" type="text" name="mfgnum" maxlength="12" value="">
                                    </td>
                                    
                                    <td>
                                        <textarea class="description" style="height: 75px; word-wrap: break-word;" name="description" maxlength="30"></textarea>
                                    </td>
                                    <td>
                                        <textarea class="issue" style="height: 75px; word-wrap: break-word;" name="issue" maxlength="125"></textarea>
                                    </td>
                                    <td>
                                        <input type="hidden" name="product" value="{{ i.pk }}">
                                        <input type="hidden" name="workOrder" value="{{ workOrder_id }}">
                                        <button type="button" class="submit-button" >Add Instrument</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<script>
let workOrder_id = '{{ workOrder_id }}';
let site_url = '{{ site_url }}';
let apiUrl = "{% url 'invoice:itemWorkOrderAPI' workOrder_id %}";
let crsfToken = '{% csrf_token %}';

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include additional jQuery plugins or libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<!-- Include Bootstrap and Bootstrap-datepicker stylesheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<!-- Include your custom JavaScript file that uses jQuery -->
<script src="{% static 'js/addItemsWorkOrder.js' %}"></script>



{% endblock content %}