{% extends "base/base.html" %}

{% block content %}

<h1>Work Order</h1>

<form method="post">
    {% csrf_token %}
    
    {{ form.is_rush.label_tag }}
    {{ form.is_rush }}
    <br>
    {{ form.return_by.label_tag }}
    {{ form.return_by }}
    <br>
    {{ form.quote_required.label_tag }}
    {{ form.quote_required }}
    <br>
    {{ form.specialInstructions.label_tag }}
    {{ form.specialInstructions }}
    
    <input type="submit" value="Save Work Order">
</form>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JavaScript (if not already included) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Bootstrap Datepicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<!-- Bootstrap Datepicker JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',  // Adjust the date format as needed
            autoclose: true
        });
    });
</script>

{% endblock content %}