{% extends "base/base.html" %}

{% block content %}
<div class="row">
    <h1>Past Take Back Sheets</h1>
</div>
<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th>Take Back Sheet Number</th>
            <th>Client</th>
            <th>Issue Date</th>
            <th>Color</th>
            <th>Status</th>
            <th>View</th>
            <th>Actions</th>          
          </tr>
        </thead>
        <tbody>       
          {% for workOrder in workOrders %}
            <tr>
              <td>{{ workOrder.workOrder_num }}</td>
              <td>{{ workOrder.client }}</td>
              <td>{{ workOrder.workOrder_date }}</td>
              <td>
                {{ workOrder.color }}
                <div style="width: 15px; height: 15px; display: inline-block; background-color: {{ workOrder.color }};"></div>              
              </td>
              <td>{{ workOrder.get_status_display }}</td>
              <td>
                <a href="{% url 'invoice:workOrderView' workOrder %}">view</a>
              </td>
              <td>
                <a href="{% url 'invoice:addItemsWorkOrder' workOrder.workOrder_num %}" >Edit</a>
              </td>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">No Take Back Sheets available.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination">
        <span class="step-links">
          {% if workOrders.has_next %}
            <a href="?page={{ workOrders.paginator.num_pages }}">last</a>
            <a href="?page={{ workOrders.next_page_number }}">next</a>
          {% endif %}       
          <span class="current-page">
            Page {{ workOrders.number }} of {{ workOrders.paginator.num_pages }}.
          </span>       
          {% if workOrders.has_previous %}
            <a href="?page={{ workOrders.previous_page_number }}">previous</a>
            <a href="?page=1">first</a>
          {% endif %}
        </span>
      </div>
</div>

{% endblock %}